<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Plocker</title>
    
    <!--
        Sample create using as base http://twitter.github.com/bootstrap/examples/container-app.html
        Version 0.2 using bootstrap v1.4
    -->
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ asset('bundles/tenkpwlocker/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    {% block css %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('homepage') }}">Plocker</a>
            <ul class="nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li
                        {% if path(app.request.attributes.get('_route')) == path('TenKPwLockerBundle_password_list') %}
                        class="active"
                        {% endif %}
                        ><a href="{{ path('TenKPwLockerBundle_password_list') }}">Home</a></li>
                {% else %}
                    <li
                        {% if path(app.request.attributes.get('_route')) == path('fos_user_registration_register') %}
                        class="active"
                        {% endif %}
                        ><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% endif %}
            </ul>

            <ul class="nav pull-right">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li>
                    <p class="navbar-text">Hello {{ app.user.username }}!</p>
                </li>
                <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
            {% else %}
                <li>
                    <form action="{{ path('fos_user_security_login') }}" 
                          method="post" class="navbar-form">
                        <input class="input-small" name="_username" id="username" type="text" placeholder="Username">
                        <input class="input-small" name="_password" id="password" type="password" placeholder="Password">
                        <button class="btn" type="submit">Log in</button>
                    </form>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    {% block container %}
        <div class="content" style="margin-top: 60px;">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
    <footer>
        <p>&copy; <a href='http://www.pwlocker.co.uk'>Plocker</a> {{ "now"|date("Y") }}</p>
    </footer>
</div>
    {% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% endblock %}
</body>
</html>
